@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply px-4 py-2 border-3 uppercase;
}

.btn-black {
        @apply border-black;
}

.btn-black:hover {
    @apply bg-black text-white;
}

.vertical-center {
    top: 50%;
    transform: translateY(-50%);
}

.image-noi {
    width: auto;
    height: 40px;
}

@screen sm {
    .image-noi {
        height: 50px;
    }
}

@screen xl {
    .image-noi {
        height: 65px;
    }   
}
