@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 16px;
}

@screen lg {
    body {
        font-size: 18px;
    }
}

#kc-content {
    @apply mx-0;
    @apply flex;
    @apply flex-col;
    @apply flex-grow;
    @apply items-center;
    @apply bg-gray-300;
}

@screen lg {
    #kc-content {
        @apply mt-4;
    }
}

@screen xl {
    #kc-content {
        @apply mx-4;
    }
}

#kc-content-wrapper {
    @apply w-full;
    @apply max-w-2xl;
    @apply border-3;
    @apply border-black;
    @apply my-8;
    @apply p-8;
    @apply bg-white;
}

@screen lg {
    #kc-content-wrapper {
        @apply p-16;
    }
}

#kc-info {
    @apply flex;
    @apply justify-center;
}

#kc-info-wrapper {
    @apply w-full;
    @apply max-w-2xl;
    @apply mt-8;
    @apply bg-white;
}

#kc-form-login {
    @apply space-y-8;
}

.form-input-group {
    @apply flex;
    @apply flex-col;
}

.form-input-group-error > .form-input {
    @apply border-red-700;
}

.form-input-group-error > .form-label {
    @apply text-red-700;
}

.form-input {
    @apply py-1;
    @apply border-b;
    @apply border-black;
    @apply text-2xl;
}

.form-input:focus {
    @apply outline-none;
    @apply border-primary-500;
}

.form-label {
    @apply text-primary-500;
    @apply font-bold;
}

.inline-form-input {
    @apply appearance-none;
    @apply mt-2;
    @apply border-2;
    @apply border-black;
    @apply w-full;
    @apply py-2;
    @apply px-2;
    @apply leading-tight;
}

.inline-form-input:focus {
    @apply outline-none;
    @apply border-green-700;
}

.inline-form-input:disabled {
    @apply border-none;
    @apply px-0;
    @apply bg-transparent;
}

.inline-form-label {
    @apply block;
    @apply mb-1;
    @apply pr-4;
    @apply text-xs;
    @apply text-black;
    @apply font-bold;
}

.inline-form-label-error {
    @apply text-red-700;
}

@screen lg {
    .inline-form-label {
        @apply mb-0;
    }
}

.form-setting {
    @apply flex;
    @apply flex-col;
}

@screen lg {
    .form-setting {
        @apply flex-row;
        @apply justify-between
    }
}

.btn {
    @apply px-4;
    @apply py-2;
    @apply border-3;
    @apply uppercase;
}

.btn-black {
    @apply border-black;
    @apply bg-white;
}

.btn-black:hover {
    @apply bg-black;
    @apply text-white;
}

.btn-black-filled {
    @apply border-black;
    @apply bg-black;
    @apply text-white;
}

.btn-black-filled:hover {
    @apply bg-white;
    @apply text-black;
}

.vertical-center {
    top: 50%;
    transform: translateY(-50%);
}

.image-noi {
    width: auto;
    height: 40px;
}

@screen sm {
    .image-noi {
        height: 50px;
    }
}

@screen xl {
    .image-noi {
        height: 65px;
    }   
}

.side-menu-item {
    @apply my-1;
    @apply rounded;
    @apply border-r-4;
    @apply border-transparent;;
}

.side-menu-item:hover {
    @apply bg-green-100;
    @apply text-green-900;
}

.side-menu-item-active {
    @apply font-bold;
    @apply bg-green-100;
    @apply text-green-900;
    @apply border-green-900;
}

.side-menu-item > a {
    @apply flex;
    @apply p-2;
}

.mobile-nav {
    @apply hidden;
    @apply mb-4;
    @apply border-b;
    @apply border-black;
    @apply flex-col;
    @apply items-stretch;
    @apply bg-gray-300;
    @apply px-2;
    @apply pt-2;
}

@screen lg {
    .mobile-nav {
        @apply hidden;
    }
}

.mobile-nav-open {
    @apply flex;
}

.mobile-languages {
    @apply z-10;
    @apply shadow;
    @apply absolute;
    @apply right-0;
    @apply left-0;
    @apply bg-white;
    @apply hidden;
}

@screen lg {
    .mobile-languages {
        @apply hidden;
    }
}

.mobile-languages-open {
    @apply block;
}
