version: "3.4"

services:
  keycloak:
    image: ${DOCKER_IMAGE}:${DOCKER_TAG}
    build:
      context: ../
      dockerfile: infrastructure/docker/keycloak/Dockerfile
      target: build
    volumes:
      - ./registration-event-listener/target/registration-event-listener-0.0.1-SNAPSHOT.jar://opt/jboss/keycloak/standalone/deployments/registration-event-listener-0.0.1-SNAPSHOT.jar
