version: "3.4"

services:
  keycloak:
    image: ${DOCKER_IMAGE}:${DOCKER_TAG}
    restart: unless-stopped
    environment:
      DB_VENDOR: POSTGRES
      DB_ADDR: ${DB_ADDR}
      DB_PORT: ${DB_PORT}
      DB_DATABASE: ${DB_DATABASE}
      DB_SCHEMA: public
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      JGROUPS_DISCOVERY_PROTOCOL: dns.DNS_PING
      JGROUPS_DISCOVERY_PROPERTIES: dns_query=${DNS_QUERY}
      PROXY_ADDRESS_FORWARDING: 'true'
      KEYCLOAK_FRONTEND_URL: ${FRONTEND_URL}
      #KEYCLOAK_USER: ${ADMIN_NAME}
      #KEYCLOAK_PASSWORD: ${ADMIN_PASSWORD}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth"]
      interval: 20s
      timeout: 10s
      retries: 5
      start_period: 30s
    ports:
      - 8080:8080
      - 7600:7600
      - 57600:57600
