version: "3.4"

services:
  keycloak:
    image: ${DOCKER_IMAGE}:${DOCKER_TAG}
    build:
      context: ../
      dockerfile: infrastructure/docker/keycloak/Dockerfile
      target: prod
    environment:
      KC_CACHE_STACK: ec2
